
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: lavenderblush;
}

h1 {
font-family: "afronaut", sans-serif;
font-weight: 400;
font-style: normal;
margin: 0;
margin-bottom: 20px;
}
