<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.typekit.net/dsf6klq.css">
    <title>Totems</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>My Collection of Totems</h1>
    <h2>Typically I consider myself a bit of a minimalist, but when it comes to totems I can't resist sentimental bits and pieces!</h2>
    <div id="myTotems">
        <table>
            <thead>
                <th>Image</th>
                <th>Totem</th>
                <th>Got It From</th>
                <th>Had Since</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr 
                v-for="(totem, index) in totems"
                :class="{odd: index % 2 !== 0}"
                >
                    <td><img :src="totem.image" alt="placeholder totem image"></td>
                    <td>{{totem.item}}</td>
                    <td>{{totem.gotFrom}}</td>
                    <td>{{totem.hadSince}}</td>
                    <td>{{totem.description}}</td>
                    <td><button type="button" v-on:click="deleteItem(totem)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
      <form v-on:submit="submitHandler">
        <fieldset>
            <legend>Add Your Own Totem!</legend>
            <div>
                <label for="image">Image</label>
                <input id="image" type="text" v-model="newTotemObj.image">
            </div>
            <div>
                <label for="item">Totem</label>
                <input id="item" type="text" v-model="newTotemObj.item">
            </div>
            <div>
                <label for="gotFrom">Got It From</label>
                <input id="gotFrom" type="text" v-model="newTotemObj.gotFrom">
            </div>
            <div>
                <label for="hadSince">Had Since</label>
                <input id="hadSince" type="text" v-model="newTotemObj.hadSince">
            </div>
            <div>
                <label for="description">Description</label>
                <input id="description" type="text" v-model="newTotemObj.description">
            </div>
            <button type="submit">Submit My Totem</button>
        </fieldset>
      </form>      
    </div>
    <script src="./collection.js"></script>
</body>
</html>